:root {
  --btn-height-md: 38px;
  --btn-height-sm: 32px;
  --btn-height-lg: 48px;
  --btn-width: 160px;
}

.btn {
  height: var(--btn-height-md);
  width: var(--btn-width);
  outline: none;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: var(--font-sm);
  display: block;
  background: linear-gradient(#0000, rgb(0 0 0/15%)) top/100% 800%;
  background-color: var(--primary-color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
span.ripple {
  position: absolute; /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}
.btn:disabled {
  opacity: 0.6;
  pointer-events: none;
}
.btn-sm {
  height: var(--btn-height-sm);
}
.btn-lg {
  height: var(--btn-height-lg);
  border-radius: 25px;
}
.btn-primary {
  background-color: var(--primary-color);
}
.btn-secondary {
  background-color: var(--secondary-color);
}
.btn-danger {
  background-color: var(--danger-color);
}
.btn-warning {
  background-color: var(--warning-color);
}
.btn:hover {
  cursor: pointer;
  background-position: bottom;
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
