:root {
  /*--input-group-border-color: light-dark(#f7f8f8, #859cb25a);*/
  --input-group-border-color: light-dark(#f1f1f1, #859cb25a);
  --input-group-bg-color: light-dark(Canvas, rgba(155, 155, 155, 0.35));
  --input-group-border-color-focus: light-dark(
    #174b7c5a,
    rgba(98, 115, 131, 0.35)
  );
  --input-group-border: 2px solid var(--input-group-border-color, GrayText);
  --input-group-border-radius: 6px;
  --input-group-border-radius-oval: 35px;
  --input-group-padding: 20px;
  --input-group-height: 64px;
}
.input-wrap,
.textarea-wrap,
.multiple-select {
  position: relative;
  color: var(--primary-color);
}
input[type="text"],
input[type="number"],
input[type="date"],
textarea {
  height: var(--input-group-height);
  border: var(--input-group-border);
  border-radius: var(--input-group-border-radius);
  padding: 0 var(--input-group-padding);
  font-size: var(--font-md);
  color: var(--primary-color);
  line-height: 50px;
  font-weight: 500;
  width: 100%;
  margin-bottom: var(--spacer);
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus {
  outline-color: var(--input-group-border-color-focus);
}
input[type="text"].error,
input[type="number"].error,
input[type="date"].error,
textarea.error {
  border-color: var(--validation-error);
}
input[type="text"].error:focus,
input[type="number"].error:focus,
input[type="date"].error:focus,
textarea.error:focus {
  outline-color: var(--validation-error-focus);
}

input,
select,
textarea {
  position: relative;
}
textarea {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
input[type="text"] + label,
input[type="number"] + label,
input[type="date"] + label,
select + label,
textarea + label {
  /* allows label to be absolute */
  position: absolute;
  top: 39%;
  transform: translateY(-50%);
  left: calc(var(--spacer) + 2px);
  font-size: var(--font-sm);
  pointer-events: none;
  transition: 0.3s;
  font-weight: 400;
}
textarea + label {
  top: calc(var(--input-group-height) / 2);
}

input[type="text"]:focus + label,
input[type="text"]:not(:placeholder-shown) + label,
input[type="number"]:focus + label,
input[type="number"]:not(:placeholder-shown) + label,
input[type="date"]:focus + label,
input[type="date"]:not(:placeholder-shown) + label,
select:focus + label,
select:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label {
  top: 17px;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: transparent;
}
input[type="text"] {
  padding-top: 20px;
}

input.oval,
textarea.oval,
select.oval {
  border-radius: var(--input-group-border-radius-oval);
}

.range-inputs__inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.range-inputs .input-wrap {
  width: 49%;
}

.range-inputs__label {
  display: inline-block;
  font-size: var(--font-sm);
  color: var(--primary-color);
  margin-bottom: var(--spacer);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.range-inputs__inputs input {
  text-align: end;
}

.range-inputs__inputs input + label {
  top: 39% !important;
}

.checkbox-wrap {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  gap: 0.5rem;
}
input[type="checkbox"] {
  --checkbox-border-w: calc(1em * (4 / 3) / 10);
  --checkbox-accent: #0075ff;
  --checkbox-bg-accent: light-dark(Field, transparent);
  --checkbox-mask: url("../../icons/checkmark.svg");
  appearance: none;
  aspect-ratio: 1;
  background: var(--input-group-bg-color, Field);
  border: var(--checkbox-border-w) solid var(--input-group-border-color);
  border-radius: 0.25em;
  box-sizing: border-box;
  font-size: var(--font-md);
  /*margin: 0.1875em 0.1875em 0.1875em 0.25em;*/
  position: relative;
  width: var(--font-md);
}

input[type="checkbox"] + label {
  font-size: var(--font-sm);
}
input[type="checkbox"]::after {
  background: var(--checkbox-bg-accent, transparent);
  content: "";
  inset: -2px;
  position: absolute;
  mask: var(--checkbox-mask) no-repeat center / contain;
  mask-size: 2rem;
  -webkit-mask: var(--checkbox-mask) no-repeat center / contain;
}
input[type="checkbox"]:checked {
  --input-group-bg-color: var(--checkbox-accent);
  --checkbox-bg-accent: light-dark(Field, #f1f1f1);
  --input-group-border-color: light-dark(
    color-mix(in srgb, GrayText 10%, CanvasText 10%),
    color-mix(in srgb, GrayText 60%, CanvasText 40%)
  );
}
@media (hover: hover) {
  input[type="checkbox"]:not(:checked):hover {
    cursor: pointer;
    --input-group-border-color: light-dark(
      color-mix(in srgb, GrayText 20%, CanvasText 20%),
      color-mix(in srgb, GrayText 60%, CanvasText 40%)
    );
  }
  input[type="checkbox"]:checked:hover {
    --input-group-bg-color: color-mix(
      in srgb,
      var(--checkbox-accent) 90%,
      CanvasText 10%
    );
  }
}
