.modal-wrap {
  position: absolute;
  inset: 0;
  z-index: 1000;
  /*min-width: 500px;*/
  /*min-height: 250px;*/
  margin: auto;
  width: fit-content;
  height: max-content;
  padding: var(--spacer);
  background-color: white;
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  max-width: calc(100dvw - var(--spacer) * 5);
  max-height: calc(100dvh - var(--spacer) * 5);
  line-height: normal;
  /*transform: translate(-50%, -50%);*/

  .modal__close {
    position: absolute;
    width: 24px;
    aspect-ratio: 1;
    top: 0px;
    right: 0px;
    z-index: 1001;

    svg {
      width: 24px;
      height: 24px;
    }
  }
  .modal__content {
    --spacer: 40px;
    overflow: auto;
    max-height: calc(100dvh - 300px);
    margin: var(--spacer) 0 var(--spacer) 0;
  }
  .modal__header {
    height: 30px;
    flex-shrink: 0;
  }
  .modal__controls {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--spacer);
  }
  .modal__controls.center {
    justify-content: center;
  }
  .modal__controls.start {
    justify-content: flex-start;
  }
}

.modal__close:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.modal__backdrop {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(51, 51, 51, 0.77);
}

.modal-backdrop-fade-enter-active,
.modal-backdrop-fade-leave-active {
  transition: all 0.5s ease-out;
  opacity: 1;
}

.modal-backdrop-fade-enter-from,
.modal-backdrop-fade-leave-to {
  opacity: 0;
}
.modal-pop-enter-active,
.modal-pop-leave-active {
  transition: transform 0.4s cubic-bezier(0.5, 0.3, 0.5, 1), opacity 0.4s linear;
}

.modal-pop-enter-from,
.modal-pop-leave-to {
  opacity: 0;
  /*transform: scale(0.3) translate(-200%, -150%);*/
  transform: scale(0.3) translateY(-50%);
}

/*.modal-animate-enter-active {*/
/*  animation: bounce-in 0.5s;*/
/*}*/
/*.modal-animate-leave-active {*/
/*  animation: bounce-in 0.5s reverse;*/
/*}*/
/*@keyframes bounce-in {*/
/*  0% {*/
/*    transform: scale(0);*/
/*  }*/
/*  50% {*/
/*    transform: scale(1.25);*/
/*  }*/
/*  100% {*/
/*    transform: scale(1);*/
/*  }*/
/*}*/
