.multiple-select {
  height: var(--input-group-height);
  border: var(--input-group-border);
  border-radius: var(--input-group-border-radius);
  padding: 0 var(--input-group-padding);
  font-size: var(--font-md);
  color: var(--primary-color);
  width: 100%;
  margin-bottom: var(--spacer);
  font-weight: 500;
  user-select: none;
}
.multiple-select input {
  line-height: 50px;
}
.multiple-select__clear,
.multiple-select__select {
  height: 100%;
  width: 50px;
  position: absolute;
  right: 0;
  top: 0;
}
.multiple-select__clear {
  background: url("../../icons/close.svg") no-repeat right;
  background-size: 20px;
  background-position-x: calc(100% - var(--spacer));
}
.multiple-select__clear:hover {
  scale: 1.2;
}
.multiple-select__select {
  background: url("../../icons/chevron-down.svg") no-repeat right;
  background-position-x: calc(100% - var(--spacer));
}
.multiple-select:hover {
  cursor: pointer;
}

.multiple-select__content-list__option.selected:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color-light);
}
.autocomplete-wrap label {
  font-size: var(--font-md);
  margin-bottom: 2rem;
}
.autocomplete-wrap input {
  padding: 1.2rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
}
.autocomplete-wrap input:focus {
  outline: 1px solid #999898;
}
.autocomplete-list,
.multiple-select__content-wrap {
  position: absolute;
  left: 0;
  right: 0;
  max-height: 250px;
  padding: var(--spacer) 0;
  top: calc(var(--input-group-height) + 5px);

  outline: var(--input-group-border);
  overflow-y: auto;
  border-radius: 1rem;
  z-index: 100;
  background: white;
}
.multiple-select__content-list__option p {
  pointer-events: none;
}
.autocomplete-list li,
.multiple-select__content-list__option {
  position: relative;
  font-size: var(--font-sm);
  font-weight: 500;
  padding: 10px 20px;
}
.autocomplete-list li:hover,
.multiple-select__content-list__option:hover {
  background-color: rgba(153, 152, 152, 0.15);
  cursor: pointer;
}

.multiple-select input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  border-radius: 0;
}
.multiple-select label {
  /* allows label to be absolute */
  position: absolute;
  top: 51%;
  transform: translateY(-50%);
  left: calc(var(--spacer));
  font-size: var(--font-sm);
  pointer-events: none;
  transition: 0.3s;
  font-weight: 400;
}
.multiple-select__selected {
  font-size: var(--font-md);
  line-height: 80px;
}
.multiple-select.list-open > label,
.multiple-select__selected + label {
  top: 17px;
}
/*.multiple-select input:focus + label,*/
/*.multiple-select input:not(:placeholder-shown) + label {*/
/*  top: 17px;*/
/*}*/
.multiple-select_list-fade-enter-active,
.multiple-select_list-fade-leave-active {
  transition: opacity 0.3s ease;
}

.multiple-select_list-fade-enter-from,
.multiple-select_list-fade-leave-to {
  opacity: 0;
}
