@import "reset.css";
@import "vars.css";
@import "../fonts/fonts.css";
@import "elements/button.css";
@import "elements/inputs.css";
@import "elements/multipleSelect.css";
@import "elements/modal.css";

html,
body {
  scrollbar-gutter: stable;
}
body {
  font-family: Montserrat, system-ui;
}

h1 {
  font-size: var(--font-xxl);
}
h2 {
  font-size: var(--font-xl);
}
h3 {
  font-size: var(--font-lg);
}
h4,
h5,
p,
span {
  font-size: var(--font-md);
}

hr {
  margin: var(--spacer) 0 var(--spacer) 0;
  border-top: 1px solid #f9f9f9;
}
.main-wrap {
  height: 100vh;
}
.light {
  color-scheme: light;
  background-color: var(--bg-color-main);
}
.dark {
  color-scheme: dark;
  background-color: var(--bg-color-main);
}
.container {
  width: 1200px;
  margin: auto;
  padding: 15px;
}
.main-form-wrap h2 {
  font-size: var(--font-xl);
  font-weight: 600;
  margin-bottom: calc(var(--spacer) * 2);
}

.main-form .btn {
  margin: var(--spacer) auto 0 auto;
}
/*.main-wrap {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  text-align: center;*/
/*  height: calc(100vh - var(--spacer) * 2);*/
/*}*/
.modal-btn {
  width: 225px;
}
.error-message {
  position: absolute;
  width: 100%;
  left: 2px;
  bottom: 3px;
  color: red;
  font-size: var(--font-xs);
}
