.bg-primary {
  background-color: light-dark(
    color-mix(in srgb, var(--primary-color) 15%, transparent),
    color-mix(in srgb, var(--primary-color) 55%, transparent)
  );
}

.bg-danger {
  background-color: light-dark(
    color-mix(in srgb, var(--danger-color) 30%, transparent),
    color-mix(in srgb, var(--danger-color) 55%, transparent)
  );
}
.bg-warning {
  background-color: light-dark(
    color-mix(in srgb, var(--warning-color) 30%, transparent),
    color-mix(in srgb, var(--warning-color) 55%, transparent)
  );
}

.card {
}
