/* colors */
:root {
  color-scheme: light dark;

  --primary-color: #174b7c;
  --danger-color: #862823;
  --warning-color: #dca11c;
  --light-theme-font-color: #3f4756;
  --dark-theme-font-color: #f1f1e6;
  --dark-theme-forms-font-color: #547bb1;

  --forms-font-color: light-dark(
    var(--primary-color),
    var(--dark-theme-forms-font-color)
  );

  --header-color: light-dark(#1a263d, #1a263d);
  --bg-color-main: light-dark(Canvas, #1d1e21);
  --secondary-color: light-dark(#a3abbd, #a3abbd);
  --primary-color-darker: light-dark(#133c64, #133c64);
  --primary-color-light: light-dark(
    rgba(23, 75, 124, 0.28),
    rgba(23, 75, 124, 0.28)
  );

  --validation-error: light-dark(#fa8888, #fa8888);
  --validation-error-focus: light-dark(#fa4040, #fa8888);

  --box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

/* border */
:root {
}

/* sizing */
:root {
  --main-border-radius: 6px;
  --spacer: 20px;

  --font-xxl: 3.2rem;
  --font-xl: 2.6rem;
  --font-lg: 2.1rem;
  --font-md: 1.8rem;
  --font-sm: 1.4rem;
  --font-xs: 1.2rem;
}
