/* colors */
:root {
  color-scheme: light dark;
  --bg-color-main: light-dark(Canvas, #212121);
  --primary-color: light-dark(#174b7c, #174b7c);
  --secondary-color: light-dark(#6f8898, #5d7e9b);
  --primary-color-darker: light-dark(#133c64, #133c64);
  --primary-color-light: light-dark(
    rgba(23, 75, 124, 0.28),
    rgba(23, 75, 124, 0.28)
  );
  --header-color: light-dark(#1a263d, #1a263d);
  --danger-color: light-dark(#861616, #861616);
  --warning-color: light-dark(#d3ae19, #d3ae19);
  --validation-error: light-dark(#fa8888, #fa8888);
  --validation-error-focus: light-dark(#fa4040, #fa8888);
}

/* border */
:root {
}

/* sizing */
:root {
  --spacer: 20px;

  --font-xl: 2.4rem;
  --font-md: 1.8rem;
  --font-sm: 1.4rem;
  --font-xs: 1.2rem;
}
